#tetrisText{
  margin: 0 auto;
  margin-top: auto;
  margin-left: 1px;
}

#tetris{
  margin: 0 auto;
  margin-top: auto;
  margin-right: 1px;
}

.tetrisRow{
  width: 100%;

  display: -webkit-flex;
  display:flex;
  flex-direction: row;
}

.tetrisTile{
  /*margin-top: auto;*/
  height: 100%;
  /*width: 25%;*/
}




