html, body, div{
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1;
	background-color: #64706C;
}
.noSelect{
	/*make text unselectable*/
	-webkit-user-select: none; /* Chrome/Safari */   
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
div{
/*	width: 399;
	height: 399;
*/	margin: auto;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
}